/* Dropdown component container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button styling */
.dropdown-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-button:hover {
  background-color: #2980b9;
}

/* Dropdown list styling */
.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;
  /* display: none; */
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}
